body {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none;
}
* {
  box-sizing: border-box;
}
.root {
  background: #ffffff;
  color: #404040;
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: 400px;
}
.app {
  margin: 16px;
}
.main-title {
  display: inline-block;
  margin: 0;
  line-height: 32px;
  padding-left: 46px;
  background-image: url(color.png);
  background-size: auto 32px;
  background-repeat: no-repeat;
  background-position: 0 -4px;
}
code, pre {
  font-family: 'Consolas', monospace;
}
.text {
  vertical-align: middle;
}
strong, .strong {
  color: #505050;
  font-weight: 700;
}
input, button, select {
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  min-width: 32px;
  padding: 0 8px;
  margin: 0;
  border: 1px solid #dbdcdd;
  line-height: 30px;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
input {
  background-color: #ffffff;
}
input:focus, input:hover {
  border-color: #abacad;
}
input:not([type]), input[type=text], input[type=password] {
  width: 120px;
}
input[type=checkbox] {
  position: relative;
  width: 32px;
  border-color: transparent;
  cursor: pointer;
}
input[type=checkbox]:before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border: 1px solid #dbdcdd;
}
input[type=checkbox]:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 1px;
  background-image: none;
  background-position: center center;
  background-repeat: no-repeat;
}
input[type=checkbox]:checked:after {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="12" height="12"><polygon fill="%23606060" points="11.941,28.877 0,16.935 5.695,11.24 11.941,17.486 26.305,3.123 32,8.818"/></svg>');
}
button {
  cursor: pointer;
  background-color: #f8f8f8;
}
button:focus, button:hover {
  border-color: #abacad;
}
button:not(:disabled):not(.disabled):active {
  background-color: #f0f0f0;
}
button:disabled, button.disabled {
  color: #b0b0b0;
  border-color: #dbdcdd;
  transform: none;
}
button.link {
  background: none;
  border-color: transparent;
  opacity: 0.5;
}
button.link:focus, button.link:hover {
  opacity: 1;
}
button.link:not(:disabled):not(.disabled):active {
  background-color: transparent;
  opacity: 0.5;
}
select {
  cursor: pointer;
  background-color: #ffffff;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 550" width="32px" height="32px"><path d="m448.79 242.48-15.848-15.848-82.938 82.934-82.938-82.934-15.848 15.848 98.785 98.785z" fill="%23404040"/></svg>');
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 32px;
}
select > option {
  color: #404040;
}
select.gray {
  color: #c0c0c0;
}
select > option.gray {
  color: #c0c0c0;
}
select:focus, select:hover {
  border-color: #abacad;
}
select.button {
  background-image: none;
  padding-right: 8px;
}
.text-box {
  margin-top: 16px;
}
.text-box > .row:not(:last-child) {
  margin-bottom: 8px;
}
.text-box > .row > :not(:last-child) {
  margin-right: 8px;
}
.text-box > .row > input.text {
  width: 240px;
}
.text-box .label {
  color: #a0a0a0;
  margin-left: 8px;
}
.translation-title {
  margin: 16px 0;
}
.translation-box {
  display: flex;
  margin-bottom: 24px;
}
.translation-box:last-child {
  margin-bottom: 0;
}
.translation-box.disabled {
  opacity: 0.5;
}
.translation-box > select {
  flex-shrink: 0;
}
.translation-box > .buttons {
  z-index: 1;
  opacity: 0;
  margin-left: -32px;
  flex-shrink: 0;
}
.translation-box:hover > .buttons {
  opacity: 1;
}
.translation-box:hover > .buttons > button {
  background-color: rgba(255, 255, 255, 90%);
}
.translation-box > .translations {
  display: flex;
  flex-flow: column;
  min-width: 312px;
  min-height: 32px;
  margin-left: 16px;
}
.translation-box > .translations > .item {
  display: flex;
  position: relative;
}
.translation-box > .translations > .item:not(:last-child) {
  margin-bottom: 4px;
}
.translation-box > .translations > .item > .translation {
  display: flex;
  flex-flow: column;
  overflow-wrap: anywhere;
}
.translation-box > .translations > .item > .translation > .result {
  min-height: 18px;
  line-height: 18px;
  font-size: 14px;
}
.translation-box > .translations > .item > .translation > .hint {
  min-height: 4px;
  line-height: 14px;
  font-size: 12px;
  color: #c0c0c0;
}
.translation-box > .translations > .item > .actions {
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: -1px;
  left: -2px;
  background-color: rgba(255, 255, 255, 90%);
}
.translation-box > .translations > .item.single > .actions > button {
  margin-top: -4px;
}
.translation-box > .translations > .item > .actions > button.copy {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488.3 488.3" width="16" height="16"><g fill="%23404040"><path d="M314.25,85.4h-227c-21.3,0-38.6,17.3-38.6,38.6v325.7c0,21.3,17.3,38.6,38.6,38.6h227c21.3,0,38.6-17.3,38.6-38.6V124C352.75,102.7,335.45,85.4,314.25,85.4z M325.75,449.6c0,6.4-5.2,11.6-11.6,11.6h-227c-6.4,0-11.6-5.2-11.6-11.6V124c0-6.4,5.2-11.6,11.6-11.6h227c6.4,0,11.6,5.2,11.6,11.6V449.6z"/><path d="M401.05,0h-227c-21.3,0-38.6,17.3-38.6,38.6c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5c0-6.4,5.2-11.6,11.6-11.6h227c6.4,0,11.6,5.2,11.6,11.6v325.7c0,6.4-5.2,11.6-11.6,11.6c-7.5,0-13.5,6-13.5,13.5s6,13.5,13.5,13.5c21.3,0,38.6-17.3,38.6-38.6V38.6C439.65,17.3,422.35,0,401.05,0z"/></g></svg>');
  background-position: center center;
  background-repeat: no-repeat;
}
.translation-box > .translations > .item > .actions > button.play {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" width="22" height="22"><path fill="%23404040" d="M45.563,29.174l-22-15c-0.307-0.208-0.703-0.231-1.031-0.058C22.205,14.289,22,14.629,22,15v30c0,0.371,0.205,0.711,0.533,0.884C22.679,45.962,22.84,46,23,46c0.197,0,0.394-0.059,0.563-0.174l22-15C45.836,30.64,46,30.331,46,30S45.836,29.36,45.563,29.174z M24,43.107V16.893L43.225,30L24,43.107z"/></svg>');
  background-position: center center;
  background-repeat: no-repeat;
}
.translation-box > .translations > .item:hover > .actions {
  opacity: 1;
}
