body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.root {
  background: #ffffff;
  color: #404040;
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.app {
  padding: 16px;
}
code, pre {
  font-family: 'Consolas', monospace;
}
input, button, select {
  display: inline-block;
  border: 1px solid #dbdcdd;
  height: 32px;
  padding: 0 8px;
  margin: 0;
  line-height: 30px;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  vertical-align: middle;
  appearance: none;
}
input {
  width: 120px;
  background-color: #ffffff;
}
input:focus, input:hover {
  border-color: #abacad;
}
button {
  cursor: pointer;
  background-color: #f0f0f0;
}
button:focus, button:hover {
  border-color: #abacad;
}
button:active {
  transform: scale(0.9);
}
button:disabled, button.disabled {
  color: #b0b0b0;
  border-color: #dbdcdd;
  transform: none;
}
button.link {
  background: none;
  border: none;
  color: #808080;
}
button.link:focus, button.link:hover {
  color: #404040;
}
select {
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 550" width="32px" height="32px"><path d="m448.79 242.48-15.848-15.848-82.938 82.934-82.938-82.934-15.848 15.848 98.785 98.785z" fill="%23404040"/></svg>');
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 32px;
}
select:focus, select:hover {
  border-color: #abacad;
}
select:active {
}
select.button {
  background-image: none;
  padding-right: 8px;
}
div.block {
  margin-top: 16px;
}
div.block > * {
  margin-right: 8px;
}
div.block > *:last-child {
  margin-right: 0;
}
.text-box > input {
  width: 240px;
}
.translation-box {
  display: flex;
  margin-bottom: 16px;
}
.translation-box:last-child {
  margin-bottom: 0;
}
.translation-box.disabled {
  opacity: 0.5;
}
.translation-box > select.lang {
  font-weight: 600;
  border-color: transparent;
}
.translation-box > button.remove {
  transform: scale(1.2);
}
.translation-box .translation {
  display: flex;
  flex-flow: column;
  width: 240px;
  padding-left: 8px;
  border-left: 1px solid #e0e0e0;
}
.translation-box > .translation > .item {
  display: flex;
  flex-flow: column;
  margin-bottom: 4px;
}
.translation-box > .translation > .item:last-child {
  margin-bottom: 0;
}
.translation-box > .translation > .item > .result {
  line-height: 20px;
}
.translation-box > .translation > .item > .source {
  color: #c0c0c0;
  font-size: 12px;
  line-height: 12px;
}
