.jam {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.editor {
  display: inline-block;
  margin: 16px;
  padding-top: 4px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
}
