.jam {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  border-left: 1px solid #dbdcdd;
  background: #ffffff;
  color: #404040;
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 16px;
}
input, button {
  font: inherit;
  border: 1px solid #dbdcdd;
  padding: 0 10px;
  line-height: 30px;
}
